
.container-parent {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container-child {
  scroll-snap-align: center;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: url('./assets/cursor-pointer.png'), auto;
}


.parallax-out {
  animation: out 1s ease-in forwards;
}

@keyframes out {
  0% {
    letter-spacing: 1px;
    font-size: 40px;
  }
  30% {
    letter-spacing: 4px;
    font-size: 50px;
  }

  100% {
    letter-spacing: 6px;
    font-size: 60px;
  }
}

.fade-animate-in {
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 1.4s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}


@keyframes in{
0%{
  letter-spacing: 4px;
  opacity: 0;
}
30%{
  letter-spacing: 6px;
  opacity: 1;
}
100%{
  letter-spacing: 10px;
  opacity: 1;
}
}

.container-child-inner {
  width: 90%;
  height: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-bkg {
  background-image: url('./assets/header.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.ending-bkg {
  background-image: url('./assets/ending.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.tree-bkg {
  background-image: url('./assets/tree.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.p17-bkg {
  background-image: url('./assets/2017.png');
  background-position: top;
  background-repeat: no-repeat;
}

.bkg-blue {
  background: linear-gradient(#130F8E, #1C1972);
}

.bkg-rose {
  background-color: #F5EDEC;
}

.bkg-white {
  background-color: #FFFAF8;
}

.bkg-rose-gradient {
  background-image: radial-gradient(#F5EDEC, #FFE0D8);
}

.bkg-purple {
  background: linear-gradient(#C4C4ED, #E2E1F1);
}

.text-white {
  color: #FFFAF8;
}

.container-child1-infoBox {
  border: 2px solid #DEDEDE;
  position: absolute;
  bottom: 10px;
  left: 20px;
  width: 300px;
  height: 300px;
}

.playfair {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 60px;
  color: #FFFAF8;
  padding: 0px 20px;
}

.mono {
  font-family: 'Ubuntu Mono', monospace;
}

.text-rose {
  color: #EDB6C9;
}

.text-navy {
  color: #130F8E;
}

.c1-subtitle {
  color: #DEDEDE;
  font-size: 18px;
  padding: 0px 20px;
}

.explore-btn {
  width: 90%;
  margin-left: 5%;
  margin-top: 30px;
  background-color: #EDB6C9;
  text-decoration: none;
  color: #130F8E;
  padding: 10px 20px;
  font-size: 22px;
  outline: none;
  opacity: 0;
  cursor: url('./assets/cursor-click.png'), auto;
}

.half-highlight {
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #FFD0AE 65%);
  display: inline;
}


.timeline-container {
  width: 100%;
  overflow-x: hidden;
  margin-top: 100px;
  margin-bottom: 100px;
}

.sliding-timeline {
  width: 5106px;
  height: 205px;
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-4519px, 0, 0); /* The image width */
  }
}

.text-columns {
  column-count: 3;
  column-gap: 30px;
}

.text-darkgray {
  color: #5c5c5c;
}

.treePoem-container {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding-top:60px;
}



.kiss-picture-border {
  transition: box-shadow 0.6s linear;
  margin: 0.5em; /* Increased margin since the outline expands outside the element */
}

.kiss-picture-border:hover { 
  box-shadow: 0px 0px 10px 20px #FC5185; 
  cursor: url(./assets/cursor-love.png), auto;
}




/* appear - on page load */
.fade-appear {
  opacity: 0;
  z-index: 1;
}
.fade-appear.fade-appear-active {
opacity: 1;
transition: opacity 1000ms linear;
}

/* enter */
.fade-enter {
opacity: 0;
z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 5000ms linear 5000ms;
}

/* exit */
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 5000ms linear;
}
.fade-exit-done {
opacity: 0;
}

/* slide enter */
.slide-enter {
opacity: 0;
transform: scale(0.97) translateY(5px);
z-index: 1;
}
.slide-enter.slide-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity 3000ms linear 1000ms, transform 3000ms ease-in-out 1000ms;
}

/* slide exit */
.slide-exit {
  opacity: 1;
  transform: scale(1) translateY(0);
  
}
.slide-exit.slide-exit-active {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
  transition: opacity 1500ms linear, transform 1500ms ease-out;
}
.slide-exit-done {
opacity: 0;
}